@keyframes zoomIn
 {
    0% { 
        opacity: 0;
        transform: scale(0);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes button1 {
    0% {background-color: rgb(252 181 113);}
25% {background-color: rgb(213 179 85);}
50% {background-color: rgb(238 193 68);}
75% {background-color: rgb(255 171 0 / 84%);}
100% {background-color: rgb(255 101 0);} 
}@keyframes button1 {
    0% {background-color: rgb(252 181 113);}
25% {background-color: rgb(213 179 85);}
50% {background-color: rgb(238 193 68);}
75% {background-color: rgb(255 171 0 / 84%);}
100% {background-color: rgb(255 101 0);} 
}

@keyframes button3 { 
    0% {background-color: rgb(5 239 243);}
    25% {background-color: #17d8d8;}
    50% {background-color: #08acac;}
    75% {background-color: #108e8e;}
    100% {background-color: #066868;}
    }

    
@keyframes button2 { 
    0% {background-color: rgb(238 252 113);}
    25% {background-color: rgb(238 252 113);}
    50% {background-color: rgb(215 238 68); }
    75% {background-color: rgb(127 255 0 / 84%);}
    100% {background-color: rgb(9 255 0);}
}

@keyframes bottonup {

    0% { top: 30% }
    100% { top: 50% }
}
