@font-face { font-family: roboto-thin;  src: url(Roboto_Mono/static/RobotoMono-Thin.ttf) }

body {
    margin: 0;
    font-family: 'roboto-thin';
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #215a5a;
    position: relative;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    color: #fbf6fc;
    font-size: 22px;
    cursor: pointer;
}

li:not(:last-child) {
    margin-right: 60px;
}

.nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    cursor: pointer;
    color: lavender;
}

#nav {
    display: none;
    font-family: 'roboto-thin';
    color: ivory;
}

.sliderimg {
    object-fit: cover;
    width: 100%;
    height: 60%;
}

.sliderbutton { 
        position: absolute;
        background-color: white;
        left: 45%;
        top: 60%;
        /* transform: translate(-50%, -50%); */
        border: none;
        padding: 30px 45px;
        border-radius: 50px;
        font-size: 20px;
        cursor: pointer;
        font-family: 'roboto-thin';
        animation-timing-function: initial;
        animation: bottonup 1s cubic-bezier(0.785, 0.135, 0.15, 0.86)
    
    }
    
@keyframes bottonup {

    0% { top: 30% }
    100% { top: 50% }
}

.navbar {
    position: absolute;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    background-color:rgb(66, 94, 66);
    opacity: 70%;
}

.teenagersbutton { 
    position: absolute;
    background-color: rgb(238, 252, 113);
    left: 111px;
    top: 230%;
    /* transform: translate(-50%, -50%); */
    border: none;
    padding: 22px 22px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'roboto-thin';
    animation-name: button2;
    animation-duration: 4s;
    animation-fill-mode: inherit;
    animation-iteration-count: infinite;
}

@keyframes button2 { 
    0% {background-color: rgb(238 252 113);}
    25% {background-color: rgb(238 252 113);}
    50% {background-color: rgb(215 238 68); }
    75% {background-color: rgb(127 255 0 / 84%);}
    100% {background-color: rgb(9 255 0);}
}
    

/* .teenagers { 

        border: none;
        object-fit: cover;
        object-position: inherit;
    } */

    .photoslider {

        display: inline-flex;
        cursor: pointer;
        width: 400px;
        height: 504px;
        left: 0;
        transform: translate(-50 -50);
        border-collapse: separate;
        border-color: #215a5a

    }
  
#sale {

    position: absolute;
    background-color: #08a9a9;
    left: 520px;
    top: 230%;
    /* transform: translate(-50%, -50%); */
    border: none;
    padding: 15px 15px;
    border-radius: 26px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'roboto-thin';
    animation-name: button3;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}


@keyframes button3 { 
    0% {background-color: rgb(5 239 243);}
    25% {background-color: #17d8d8;}
    50% {background-color: #08acac;}
    75% {background-color: #108e8e;}
    100% {background-color: #066868;}
    }

#shoesbutton {
    position: absolute;
    background-color:rgb(252 181 113);
    left: 945px;
    top: 230%;
    /* transform: translate(-50%, -50%); */
    border: none;
    padding: 22px 22px;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'roboto-thin';
    animation-name: button1;
    animation-duration: 4s;
    animation-fill-mode: inherit;
    animation-iteration-count:infinite;
}

@keyframes button1 {
    0% {background-color: rgb(252 181 113);}
25% {background-color: rgb(213 179 85);}
50% {background-color: rgb(238 193 68);}
75% {background-color: rgb(255 171 0 / 84%);}
100% {background-color: rgb(255 101 0);} 
}

body {
    background-color: #215a5a;
}
